<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
  <body >
   <div class="container">

    <div style="box-shadow: 3px 3px 6px rgba(170, 16, 16, 0.579);" class=" position-absolute top-50 start-50 translate-middle p-5 px-5 text-center rounded">
        <p class="text-danger fw-semibold">Please check Email or password ypu enter</p>
        <div style="width: 100%;" class="d-flex justify-content-between  mt-5">

            <a href="/create"> Create New Account</a>
            <a href="/login"> <button type="button" class="btn btn-danger">Try Again</button></a>
            
        </div>
    </div>
   </div>
  </body>
</html>